gitPush.sh
.*
*~
.DS_Store
data/raw/DOT_2008.csv
data/raw/DOT_2008_1.csv
data/raw/DOT_2008_10.csv
data/raw/DOT_2008_11.csv
data/raw/DOT_2008_12.csv
data/raw/DOT_2008_2.csv
data/raw/DOT_2008_3.csv
data/raw/DOT_2008_4.csv
data/raw/DOT_2008_5.csv
data/raw/DOT_2008_6.csv
data/raw/DOT_2008_7.csv
data/raw/DOT_2008_8.csv
data/raw/DOT_2008_9.csv
